@media (min-width: 1200px) {
    .navbar.navbar-expand-xl {
        links, navlinks {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}

@media (min-width: 992px) {
    .navbar.navbar-expand-lg {
        links, navlinks {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .navbar.navbar-expand-md {
        links, navlinks {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}

@media (min-width: 576px) {
    .navbar.navbar-expand-sm {
        links, navlinks {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}
