<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Footers</h2>
    </div>
  </div>

  <!-- Basic Examples -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-5">
      <h4 class="text-center">Basic Example</h4>
      <!-- Footer -->
      <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="text-uppercase">Footer Content</h5>
              <p>Here you can use rows and columns here to organize your footer content.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/angular/angular-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Basic Examples -->

  <hr class="my-5">

  <!-- Copyright  -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Copyright </h4>
      <!-- Footer -->
      <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/angular/angular-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Copyright  -->

  <hr class="my-5">

  <!-- Links  -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Links</h4>
      <!-- Footer -->
      <footer class="page-footer font-small indigo">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Very long link 1</a>
                </li>
                <li>
                  <a href="#!">Very long link 2</a>
                </li>
                <li>
                  <a href="#!">Very long link 3</a>
                </li>
                <li>
                  <a href="#!">Very long link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/angular/angular-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Links  -->

  <hr class="my-5">

  <!-- Text  -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Text</h4>
      <!-- Footer -->
      <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae
                commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae harum esse fugiat.
                Itaque, culpa?</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum commodi
                aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id excepturi hic.</p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/angular/angular-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Text  -->

  <hr class="my-5">

  <!-- Forms   -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Forms</h4>
      <!-- Footer -->
      <footer class="page-footer font-small special-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <!-- Form -->
              <form class="form-inline">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
              </form>
              <!-- Form -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>Sign up</button>
                </div>
              </form>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/angular/angular-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Forms   -->

  <hr class="my-5">

  <!-- Images   -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Images</h4>
      <!-- Footer -->
      <footer class="page-footer font-small mdb-color lighten-3 pt-4">

        <!-- Footer Elements -->
        <div class="container">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-2 col-md-12 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid" alt="">
                <a>
                  <div class="mask rgba-white-light" mdbWavesEffect></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg" class="img-fluid" alt="">
                <a>
                  <div class="mask rgba-white-light" mdbWavesEffect></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg" class="img-fluid" alt="">
                <a>
                  <div class="mask rgba-white-light" mdbWavesEffect></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-12 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg" class="img-fluid" alt="">
                <a>
                  <div class="mask rgba-white-light" mdbWavesEffect></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg" class="img-fluid" alt="">
                <a>
                  <div class="mask rgba-white-light" mdbWavesEffect></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg" class="img-fluid" alt="">
                <a>
                  <div class="mask rgba-white-light" mdbWavesEffect></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Images   -->

  <hr class="my-5">

  <!-- Iframe / video  -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Iframe / video</h4>
      <!-- Footer -->
      <footer class="page-footer font-small mdb-color darken-3 pt-4">

        <!-- Footer Elements -->
        <div class="container">

          <!--Grid row-->
          <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

              <!-- Video -->
              <div class="embed-responsive embed-responsive-16by9 mb-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe>
              </div>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Iframe / video  -->

  <hr class="my-5">

  <!-- Icons  -->
  <div class="row mb-5">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Icons</h4>
      <!-- Footer -->
      <footer class="page-footer font-small cyan darken-3">

        <!-- Footer Elements -->
        <div class="container">

          <!-- Grid row-->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
              <div class="mb-5 flex-center">

                <!-- Facebook -->
                <a class="fb-ic">
                  <mdb-icon icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <mdb-icon icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <mdb-icon icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <mdb-icon icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <mdb-icon icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Pinterest-->
                <a class="pin-ic">
                  <mdb-icon icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Icons  -->
</div>