<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Dropdown</h2>
    </div>
  </div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic example</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown
        </button>

        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Basic example -->

  <hr class="my-5">

  <!-- Split button dropdowns -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Split button dropdowns</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">

      <!-- Split button -->
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect>Action</button>
        <button type="button" mdbDropdownToggle mdbBtn color="danger" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
          mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>

    </div>
  </div>
  <!-- Split button dropdowns -->

  <hr class="my-5">

  <!-- Sizing -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Sizing</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex flex-center flex-wrap">

      <div class="mr-2">
        <!-- Large button group -->
        <div class="btn-group" mdbDropdown>
          <button mdbDropdownToggle mdbBtn color="danger" size="lg" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
            Large button
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>

      <div class="ml-2">
        <!-- Small button group -->
        <div class="btn-group" mdbDropdown>
          <button mdbDropdownToggle mdbBtn color="danger" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
            Small button
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Sizing -->

  <hr class="my-5">

  <!-- Dropup variation -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Dropup variation</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">

      <div class="btn-group" mdbDropdown [dropup]="true">
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Dropup</button>
        <button type="button" mdbBtn color="primary" mdbDropdownToggle class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
          mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Dropup variation -->

  <hr class="my-5">

  <!-- Alignment -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Alignment</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">

      <div class="dropdown" mdbDropdown dropright="true">
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
          Dropdown - right
        </button>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Alignment -->

  <hr class="my-5">

  <!-- Menu headers -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Menu headers</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">

      <div class="dropdown" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
          Dropdown
        </button>

        <div class="dropdown-menu">
          <h6 class="dropdown-header">Dropdown header</h6>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu headers -->

  <hr class="my-5">

  <!-- Menu dividers -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Menu dividers</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">

      <div class="dropdown" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
          Dropdown
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu dividers -->

  <hr class="my-5">

  <!-- Disabled menu items -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Disabled menu items</h4>
    </div>
    <div class="col-md-12 mx-auto mb-5 d-flex justify-content-center flex-wrap">

      <div class="dropdown" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
          Dropdown
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Regular link</a>
          <a class="dropdown-item disabled" href="#">Disabled link</a>
          <a class="dropdown-item" href="#">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Disabled menu items -->
</div>