// CORE FUNCTIONS
@import './bootstrap/functions';
@import './free/functions';

// CORE VARIABLES
@import './free/variables';
@import './bootstrap/variables';

// BOOTSTRAP CORE
@import './bootstrap/mixins';
@import './bootstrap/utilities';

// BOOTSTRAP CORE COMPONENTS
@import './bootstrap/root';
@import './bootstrap/reboot';
@import './bootstrap/type';
@import './bootstrap/images';
@import './bootstrap/containers';
@import './bootstrap/grid';

// BOOTSTRAP COMPONENTS
@import './bootstrap/accordion';
@import './bootstrap/tables';
@import './bootstrap/forms';
@import './bootstrap/buttons';
@import './bootstrap/transitions';
@import './bootstrap/dropdown';
@import './bootstrap/button-group';
@import './bootstrap/nav';
@import './bootstrap/navbar';
@import './bootstrap/card';
@import './bootstrap/breadcrumb';
@import './bootstrap/pagination';
@import './bootstrap/badge';
@import './bootstrap/alert';
@import './bootstrap/progress';
@import './bootstrap/placeholders';
@import './bootstrap/list-group';
@import './bootstrap/close';
@import './bootstrap/toasts';
@import './bootstrap/modal';
@import './bootstrap/tooltip';
@import './bootstrap/popover';
@import './bootstrap/carousel';
@import './bootstrap/spinners';
@import './bootstrap/offcanvas';
@import './bootstrap/tooltip';

// Helpers
@import './bootstrap/helpers';

// Utilities
@import './free/utilities';
@import './bootstrap/utilities/api';

// MDB CORE
@import './free/mixins';

// MDB CORE COMPONENTS
@import './free/root';
@import './free/reboot';
@import './free/type';
@import './free/colors';
@import './free/shadows';
@import './free/flag';
@import './free/images';
@import './free/overlay';

// MDB COMPONENTS
@import './free/accordion';
@import './free/tables';
@import './free/buttons';
@import './free/deprecated';
@import './free/button-group';
@import './free/nav';
@import './free/navbar';
@import './free/card';
@import './free/carousel';
@import './free/breadcrumb';
@import './free/pagination';
@import './free/badge';
@import './free/progress';
@import './free/list-group';
@import './free/close';
@import './free/tooltip';
@import './free/popover';
@import './free/modal';
@import './free/dropdown';
@import './free/ripple';
@import './free/validation';
@import './free/scrollspy';
@import './free/range';
@import './free/alert';
@import './free/toasts';

// MDB FORMS
@import './free/forms/form-check';
@import './free/forms/form-control';
@import './free/forms/form-select';
@import './free/forms/form-range';
@import './free/forms/input-group';
@import './free/forms/form-file';


@import '~@angular/cdk/overlay-prebuilt.css';
