<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Masks</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-1</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-1 flex-center">
          <p class="white-text">.pattern-1</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-2</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-2 flex-center">
          <p class="white-text">.pattern-2</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-3</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-3 flex-center">
          <p class="white-text">.pattern-3</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-4</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-4 flex-center">
          <p class="white-text">.pattern-4</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-5</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-5 flex-center">
          <p class="white-text">.pattern-5</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-6</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-6 flex-center">
          <p class="white-text">.pattern-6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-7</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-7 flex-center">
          <p class="white-text">.pattern-7</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">.pattern-8</h4>
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="">
        <div class="mask pattern-8 flex-center">
          <p class="white-text">.pattern-8</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h4 class="text-center">Slight Overlay</h4>
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="" style="max-width: 100% !important; width: 100% !important">
        <div class="mask flex-center rgba-red-slight">
          <p class="white-text">Slight Overlay</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">Light Overlay</h4>
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="" style="max-width: 100% !important; width: 100% !important">
        <div class="mask flex-center rgba-red-light">
          <p class="white-text">Light Overlay</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto my-5">
      <h4 class="text-center">Strong Overlay</h4>
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="" style="max-width: 100% !important; width: 100% !important">
        <div class="mask flex-center rgba-red-strong">
          <p class="white-text">Strong Overlay</p>
        </div>
      </div>
    </div>
  </div>
</div>