html,
body,
.view {
  height: 100vh; }

/* Full Page Carousel itself*/
.carousel {
  height: 100vh; }
.carousel .carousel-inner {
  height: 100vh; }
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100vh; }

img {
  &.d-block {
    height: 100vh;
  }
}
