// Toasts

.toast {
  // scss-docs-start toast-css-vars
  --#{$prefix}toast-border-bottom-width: #{$toast-border-bottom-width};
  --#{$prefix}toast-btn-close-width: #{$toast-btn-close-width};
  --#{$prefix}toast-btn-close-mr: #{$toast-btn-close-mr};
  --#{$prefix}toast-btn-close-ml: #{$toast-btn-close-ml};
  // scss-docs-end toast-css-vars

  border: 0;

  // Additional MDB Angular styles
  margin-bottom: 10px;
  // Additional MDB Angular styles

  .btn-close {
    width: var(--#{$prefix}toast-btn-close-width);
  }

  // Additional MDB Angular styles
  &:not(.show) {
    display: block;
  }
  // Additional MDB Angular styles
}

.toast-header {
  border-bottom-width: var(--#{$prefix}toast-border-bottom-width);

  .btn-close {
    margin-right: var(--#{$prefix}toast-btn-close-mr);
    margin-left: var(--#{$prefix}toast-btn-close-ml);
  }
}

.parent-toast-relative {
  position: relative;
}

.toast-absolute {
  position: absolute;
}

.toast-fixed {
  position: fixed;
  z-index: var(--#{$prefix}toast-zindex);
}

// Additional MDB Angular styles
.toast:not(.showing):not(.show) {
  opacity: 1;
}
// Additional MDB Angular styles

@each $color, $value in $toasts {
  .toast-#{$color} {
    background-color: map-get($value, background-color);
    color: map-get($value, text-color);
    border-color: map-get($value, border-color);

    i {
      color: map-get($value, icon-color);
    }
  }
}
