<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Tags, Labels & Badges</h2>
    </div>
  </div>

  <!-- Labels -->
  <div class="row">
    <div class="col-md-3 mx-auto mt-5">
      <h4 class="text-center">Labels</h4>
      <h2 class="h1">Example heading <span class="badge red">New</span></h2>
      <h2>Example heading <span class="badge blue">New</span></h2>
      <h3>Example heading <span class="badge black">New</span></h3>
      <h4>Example heading <span class="badge green">New</span></h4>
      <h5>Example heading <span class="badge grey">New</span></h5>
      <h6>Example heading <span class="badge indigo">New</span></h6>
    </div>
    <div class="col-md-3 mx-auto mt-5">
      <h4 class="text-center">Contextual variations - labels</h4>
      <span class="badge badge-default">Default</span>
      <span class="badge badge-primary">Primary</span>
      <span class="badge badge-success">Success</span>
      <span class="badge badge-info">Info</span>
      <span class="badge badge-warning">Warning</span>
      <span class="badge badge-danger">Danger</span>
    </div>
  </div>
  <!-- Labels -->
</div>
