<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5 mb-3">
      <h2 class="text-center">Angular Bootstrap Checkbox</h2>
    </div>
  </div>

  <!--  Basic Example -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default checkboxes </h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <mdb-checkbox [default]="true">Default unchecked</mdb-checkbox>
      </div>
    </div>
  </div>
  <!--  Basic Example -->

  <hr class="my-5">

  <!--  Checked state  -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default checkboxes </h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <mdb-checkbox [default]="true" [checked]="true">Default checked</mdb-checkbox>
      </div>
    </div>
  </div>
  <!--  Checked state  -->

  <hr class="my-5">

  <!--  Indeterminate state  -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default checkboxes </h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <mdb-checkbox [default]="true" [indeterminate]="true">Default Indeterminate</mdb-checkbox>
      </div>
    </div>
  </div>
  <!--  Indeterminate state  -->

  <hr class="my-5">

  <!--  Disabled state  -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default checkboxes </h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <mdb-checkbox [default]="true" [disabled]="true">Default Disabled</mdb-checkbox>
      </div>
    </div>
  </div>
  <!--  Disabled state  -->

  <hr class="my-5">

  <!--  Inline state  -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default checkboxes </h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <mdb-checkbox [default]="true" [inline]="true">Default Inline</mdb-checkbox>
        <mdb-checkbox [default]="true" [inline]="true">Default Inline</mdb-checkbox>
        <mdb-checkbox [default]="true" [inline]="true">Default Inline</mdb-checkbox>
      </div>
    </div>
  </div>
  <!--  Inline state  -->

  <hr class="my-5">

  <!-- Classic checkbox buttons  -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Classic checkbox buttons </h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <!--Classic checkbox buttons-->
        <div class="btn-group">
          <label mdbBtn color="primary" class="waves-light active" [(ngModel)]="checkboxModel.left" mdbCheckbox mdbWavesEffect>
            Checkbox 1 (pre-checked)
          </label>
          <label mdbBtn color="primary" class="waves-light" [(ngModel)]="checkboxModel.middle" mdbCheckbox mdbWavesEffect>
            Checkbox 2
          </label>
          <label mdbBtn color="primary" class="waves-light" [(ngModel)]="checkboxModel.right" mdbCheckbox mdbWavesEffect>
            Checkbox 3
          </label>
        </div>
        <!--Classic checkbox buttons-->
      </div>
    </div>
  </div>
  <!-- Classic checkbox buttons  -->
</div>