<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Search</h2>
    </div>
  </div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic example</h4>
      <!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
  <!-- Basic example -->
  <hr class="my-5">

  <!-- Search with colorful border -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Search with colorful border</h4>
      <form>
        <div class="md-form active-pink active-pink-2 mb-3">
          <input class="form-control" type="search" id="search1" aria-label="Search" mdbInputDirective>
          <label for="search1">Search</label>
        </div>
        <!-- Search form -->
        <div class="md-form active-purple active-purple-2 mb-3">
          <input class="form-control" type="search" id="search2" aria-label="Search" mdbInputDirective>
          <label for="search2">Search</label>
        </div>
        <!-- Search form -->
        <div class="md-form active-cyan active-cyan-2 mb-3">
          <input class="form-control" type="search" id="search3" aria-label="Search" mdbInputDirective>
          <label for="search3">Search</label>
        </div>

        <!-- Search form -->
        <div class="md-form active-pink-2 mb-3">
          <input class="form-control" type="search" id="search4" aria-label="Search" mdbInputDirective>
          <label for="search4">Search</label>
        </div>
        <!-- Search form -->
        <div class="md-form active-purple-2 mb-3">
          <input class="form-control" type="search" id="search5" aria-label="Search" mdbInputDirective>
          <label for="search5">Search</label>
        </div>
        <!-- Search form -->
        <div class="md-form active-cyan-2 mb-3">
          <input class="form-control" type="search" id="search6" aria-label="Search" mdbInputDirective>
          <label for="search6">Search</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Search with colorful border -->
  <hr class="my-5">

  <!-- Search with icon -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Search with icon</h4>
      <!-- Search form -->
      <form class="form-inline md-form form-sm">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
      </form>

      <!-- Search form -->
      <form class="form-inline md-form form-sm active-pink active-pink-2">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
      </form>

      <!-- Search form -->
      <form class="form-inline md-form form-sm active-purple active-purple-2">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
      </form>

      <!-- Search form -->
      <form class="form-inline md-form form-sm active-cyan active-cyan-2">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
      </form>

      <!-- Search form -->
      <form class="form-inline md-form form-sm">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>

      <!-- Search form -->
      <form class="form-inline md-form form-sm active-pink-2">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>

      <!-- Search form -->
      <form class="form-inline md-form form-sm active-purple-2">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>

      <!-- Search form -->
      <form class="form-inline md-form form-sm active-cyan-2">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>
    </div>
  </div>
  <!-- Search with icon -->
</div>