.nav a.white-text:hover { color: #e0e0e0!important; } .nav a.dark-grey-text:hover { color: #78909c!important; } .nav a.indigo-text:hover
{ color: #7986cb!important; }

.nav a.white-text:hover { color: #e0e0e0!important; }