<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Navs</h2>
    </div>
  </div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-5">
      <h4 class="text-center">Basic example</h4>


      <ul class="nav grey lighten-4 py-4">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!">Disabled</a>
        </li>
      </ul>


    </div>
  </div>
  <!-- Basic example -->

  <hr class="my-5">

  <!-- Navs without unordered list -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Navs without unordered list</h4>

      <nav class="nav grey lighten-4 py-4">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
      </nav>

    </div>
  </div>
  <!-- Navs without unordered list -->

  <hr class="my-5">

  <!-- Navs centered with flexbox -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Navs centered with flexbox</h4>

      <ul class="nav justify-content-center grey lighten-4 py-4">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!">Disabled</a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Navs centered with flexbox -->

  <hr class="my-5">

  <!-- Navs right-aligned with flexbox -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Navs right-aligned with flexbox</h4>

      <ul class="nav justify-content-end grey lighten-4 py-4">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!">Disabled</a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Navs right-aligned with flexbox -->

  <hr class="my-5">

  <!-- Navs with vertical direction -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Navs with vertical direction</h4>

      <ul class="nav flex-column grey lighten-4 py-4">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!">Disabled</a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Navs with vertical direction -->

  <hr class="my-5">

  <!-- Navs vertical without unordered list -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Navs vertical without unordered list</h4>

      <nav class="nav flex-column blue lighten-5 py-4">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
      </nav>

    </div>
  </div>
  <!-- Navs vertical without unordered list -->

  <hr class="my-5">

  <!-- Navs with bold font -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Navs with bold font</h4>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6">

          <nav class="nav flex-column grey lighten-4 py-4 font-weight-bold">
            <a class="nav-link active" href="#">Active</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#">Disabled</a>
          </nav>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">

          <ul class="nav grey lighten-4 py-4 font-weight-bold">
            <li class="nav-item">
              <a class="nav-link active" href="#!">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#!">Disabled</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
  </div>
  <!-- Navs with bold font -->

  <hr class="my-5">

  <!-- Navs with various font and background color -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Navs with various font and background color</h4>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4">

          <nav class="nav flex-column pink lighten-3 py-4 mb-r font-weight-bold z-depth-1">
            <a class="nav-link active white-text" href="#">Active</a>
            <a class="nav-link white-text" href="#">Link 1</a>
            <a class="nav-link white-text" href="#">Link 2</a>
            <a class="nav-link white-text" href="#">Link 3</a>
          </nav>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <nav class="nav flex-column amber lighten-3 py-4 mb-r font-weight-bold z-depth-1">
            <a class="nav-link active dark-grey-text" href="#">Active</a>
            <a class="nav-link dark-grey-text" href="#">Link 1</a>
            <a class="nav-link dark-grey-text" href="#">Link 2</a>
            <a class="nav-link dark-grey-text" href="#">Link 3</a>
          </nav>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <nav class="nav flex-column cyan lighten-3 py-4 mb-r font-weight-bold z-depth-1">
            <a class="nav-link active indigo-text" href="#">Active</a>
            <a class="nav-link indigo-text" href="#">Link 1</a>
            <a class="nav-link indigo-text" href="#">Link 2</a>
            <a class="nav-link indigo-text" href="#">Link 3</a>
          </nav>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
  </div>
  <!-- Navs with various font and background color -->

  <hr class="my-5">

  <!-- Pills with dropdown -->
  <div class="row mb-5">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Pills with dropdown</h4>

      <ul class="nav md-pills nav-justified pills-primary">
        <li class="nav-item">
          <a class="nav-link active " href="#">Active</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link 2</a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Pills justified -->
</div>