<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Modal Events</h2>
    </div>
  </div>

  <!-- "onShow" event -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">"onShow" event</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="onshow.show()" mdbWavesEffect>
          "onShow" event
        </button>
      </div>

      <div mdbModal #onshow="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" (onShow)="onShow($event)">
        <div class="modal-dialog modal-notify modal-success" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading lead">Modal Success</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onshow.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">
              <div class="text-center">
                <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad
                  consequatur
                  in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis totam.</p>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Get it now
                <i class="fa fa-diamond ml-1"></i>
              </a>
              <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="onshow.hide()"
                data-dismiss="modal">No, thanks</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- "onShow" event -->

  <hr class="my-5">

  <!-- "onShow" event -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">"onShown" event</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="onshow.show()" mdbWavesEffect>
          "onShown" event
        </button>
      </div>

      <div mdbModal #onshown="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" (onShown)="onShown($event)">
        <div class="modal-dialog modal-notify modal-info modal-side modal-top-left" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading lead">Modal Info</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onshown.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

              <img src="https://mdbootstrap.com/wp-content/uploads/2016/11/admin-dashboard-bootstrap.jpg" alt="" class="img-fluid">

              <div class="text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt vero illo error eveniet cum.</p>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect>Get it now
                <i class="fa fa-diamond ml-1"></i>
              </a>
              <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="onshown.hide()"
                data-dismiss="modal">No, thanks</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- "onShow" event -->

  <hr class="my-5">

  <!-- "onHide" event -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">"onHide" event</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="onhide.show()" mdbWavesEffect>
          "onHide" event
        </button>
      </div>

      <div mdbModal #onhide="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" (onHide)="onHide($event)">
        <div class="modal-dialog modal-notify modal-danger modal-side modal-top-right" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading">Modal Danger</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onhide.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

              <div class="row">
                <div class="col-3">
                  <p></p>
                  <p class="text-center">
                    <i class="fa fa-shopping-cart fa-4x"></i>
                  </p>
                </div>

                <div class="col-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, molestiae provident temporibus
                    sunt earum.</p>
                  <h2>
                    <span class="badge">v52gs1</span>
                  </h2>
                </div>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect>Get it now
                <i class="fa fa-diamond ml-1"></i>
              </a>
              <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="onhide.hide()"
                data-dismiss="modal">No, thanks</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- "onHide" event -->

  <hr class="my-5">

  <!-- "onHidden" event -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">"onHidden" event</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="onhidden.show()" mdbWavesEffect>
          "onHidden" event
        </button>
      </div>

      <div mdbModal #onhidden="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" (onHidden)="onHidden($event)">
        <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-left" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading">Modal Warning</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onhidden.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

              <div class="row">
                <div class="col-3 text-center">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" alt="Michal Szymanski - founder of Material Design for Bootstrap"
                    class="img-fluid z-depth-1-half rounded-circle">
                  <div style="height: 10px"></div>
                  <p class="title mb-0">Jane</p>
                  <p class="text-muted " style="font-size: 13px">Consultant</p>
                </div>

                <div class="col-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, molestiae provident temporibus
                    sunt earum.</p>
                  <p class="card-text">
                    <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
                  </p>
                </div>
              </div>


            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center waves-effect" mdbWavesEffect>
              <a type="button" mdbBtn color="primary">Get it now
                <i class="fa fa-diamond ml-1"></i>
              </a>
              <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="onhidden.hide()"
                data-dismiss="modal">No, thanks</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- "onHidden" event -->

  <hr class="my-5">
</div>
