<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Charts</h2>
    </div>
  </div>

  <!-- Line chart -->
  <div class="row">
    <div class="col-md-10 mx-auto text-center mt-5">
      <h4 class="text-center">Line chart</h4>
      <app-line></app-line>
    </div>
  </div>
  <!-- Line chart -->

  <hr class="my-5">

  <!--  Radar Chart -->
  <div class="row">
    <div class="col-md-10 mx-auto text-center mt-5">
      <h4 class="text-center"> Radar Chart</h4>
      <app-radar></app-radar>
    </div>
  </div>
  <!--  Radar Chart  -->

  <hr class="my-5">

  <!--  Bar Chart -->
  <div class="row">
    <div class="col-md-10 mx-auto text-center mt-5">
      <h4 class="text-center"> Bar Chart</h4>
      <app-bar></app-bar>
    </div>
  </div>
  <!-- Bar Chart  -->

  <hr class="my-5">

  <!--  Polar Area Chart -->
  <div class="row">
    <div class="col-md-10 mx-auto text-center mt-5">
      <h4 class="text-center">Polar Area Chart</h4>
     <app-polar></app-polar>
    </div>
  </div>
  <!-- Polar Area Chart  -->

  <hr class="my-5">

  <!--   Pie Chart  -->
  <div class="row">
    <div class="col-md-10 mx-auto text-center mt-5">
      <h4 class="text-center"> Pie Chart</h4>
     <app-pie></app-pie>
    </div>
  </div>
  <!--  Pie Chart -->

  <hr class="my-5">

  <!--  Doughnut Chart -->
  <div class="row">
    <div class="col-md-10 mx-auto text-center mt-5">
      <h4 class="text-center">Doughnut Chart</h4>
      <app-dounghnut></app-dounghnut>
    </div>
  </div>
  <!--  Doughnut Chart -->
</div>