<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5 mb-3">
      <h2 class="text-center">Angular Bootstrap Radio</h2>
    </div>
  </div>

  <!--  Basic Example -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default radio buttons</h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <!-- Default unchecked -->
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInputDirective>
          <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
        </div>

        <!-- Default checked -->
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked mdbInputDirective>
          <label class="custom-control-label" for="defaultChecked">Default checked</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Basic Example -->

  <hr class="my-5">

  <!--  Checked state  -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default Checked state</h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <!-- Default checked -->
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultChecked2" name="defaultExample2" checked mdbInputDirective>
          <label class="custom-control-label" for="defaultChecked2">Default checked</label>
        </div>
      </div>
    </div>
  </div>
  <!--  Checked state e -->

  <hr class="my-5">

  <!-- Disabled state  -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default disabled radio</h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <!-- Default unchecked disabled -->
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultUncheckedDisabled2" name="disabledGroupExample" disabled mdbInputDirective>
          <label class="custom-control-label" for="defaultUncheckedDisabled2">Default unchecked disabled</label>
        </div>

        <!-- Default checked disabled -->
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="defaultCheckedDisabled2" name="disabledGroupExample" checked disabled
            mdbInputDirective>
          <label class="custom-control-label" for="defaultCheckedDisabled2">Default checked disabled</label>
        </div>
      </div>
    </div>
  </div>
  <!-- Disabled state -->

  <hr class="my-5">

  <!-- Inline radio  -->
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">Default inline radio</h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <!-- Default inline 1-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInputDirective>
          <label class="custom-control-label" for="defaultInline1">1</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInputDirective>
          <label class="custom-control-label" for="defaultInline2">2</label>
        </div>

        <!-- Default inline 3-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" mdbInputDirective>
          <label class="custom-control-label" for="defaultInline3">3</label>
        </div>
      </div>
    </div>
  </div>
  <!-- Inline radio -->

  <hr class="my-5">

  <!-- Classic radio buttons   -->
  <div class="row">
    <div class="col-md-6 col-xs-12 mx-auto">
      <h4 class="text-center">Classic radio buttons</h4>
      <div class="py-3 px-3" style="border: 1px solid #e5e5e5">
        <!--Radio buttons-->
        <div class="btn-group">
          <label mdbBtn color="primary" [(ngModel)]="radioModel" mdbRadio="Left" mdbWavesEffect>
            Radio 1 (pre-checked)
          </label>
          <label mdbBtn color="primary" [(ngModel)]="radioModel" mdbRadio="Middle" mdbWavesEffect>
            Radio 2
          </label>
          <label mdbBtn color="primary" [(ngModel)]="radioModel" mdbRadio="Right" mdbWavesEffect>
            Radio 3
          </label>
        </div>
        <!--Radio buttons-->
      </div>
    </div>
  </div>
</div>