<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Table Search</h2>
    </div>
  </div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center my-5">
      <h4 class="text-center">Basic examplee</h4>
      <div class="card">
        <div class="card-body">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

              <div class="md-form">
                <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
                <label for="search">Search data</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!--Table-->
          <table class="table table-striped">

            <!--Table head-->
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
              <tr *ngFor="let data of search()">
                <th scope="row">{{data.id}}</th>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.username}}</td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->

        </div>
      </div>
    </div>
  </div>
  <!-- Basic example -->
</div>