<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Inputs</h2>
    </div>
  </div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic example</h4>
      <div class="md-form">
        <input mdbInputDirective type="text" id="form1" class="form-control">
        <label for="form1" class="">Example label</label>
      </div>
    </div>
  </div>
  <!-- Basic example -->
  <hr class="my-5">

  <!-- Two-way data binding -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Two-way data binding</h4>
      <div class="md-form">
        <input mdbInputDirective type="text" name="text" [(ngModel)]="text" id="form5" class="form-control">
        <label for="form5" class="">Example label</label>
        <p class="text-center">Look at me! {{text}}</p>
      </div>
    </div>
  </div>
  <!-- Two-way data binding -->
  <hr class="my-5">

  <!-- Small input -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Small input</h4>
      <div class="md-form form-sm">
        <input mdbInputDirective type="text" id="form3" class="form-control form-control-sm">
        <label for="form3" class="">Example label</label>
      </div>
    </div>
  </div>
  <!-- Small input -->
  <hr class="my-5">

  <!-- Icon Prefixes -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Icon Prefixes</h4>
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective type="text" id="form2" class="form-control">
        <label for="form2">Example label</label>
      </div>
    </div>
  </div>
  <!-- Icon Prefixes -->
  <hr class="my-5">

  <!-- Placeholder -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Placeholder</h4>
      <div class="md-form">
        <input mdbInputDirective placeholder="Placeholder" type="text" id="form58" class="form-control">
        <label for="form58">Example label</label>
      </div>
    </div>
  </div>
  <!-- Placeholder -->
  <hr class="my-5">

  <!-- Prefilling Text Inputs -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Prefilling Text Inputs</h4>
      <div class="md-form">
        <input value="John Doe" type="text" id="form6" class="form-control" mdbInputDirective>
        <label for="form6">Example label</label>
      </div>
    </div>
  </div>
  <!-- Prefilling Text Inputs -->
  <hr class="my-5">

  <!-- Error or Success Messages -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Error or Success Messages</h4>
      <form>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input mdbInputDirective data-error="wrong email" [formControl]="emailFormEx" data-success="valid email" minLength="8" maxLength="25"
            type="email" class="form-control" id="form9" name="email" mdbInputDirective>
          <label for="form9">Type your e-mail</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input mdbInputDirective data-error="wrong password" [formControl]="passwordFormEx" data-success="valid password" minLength="10"
            maxLength="25" type="password" class="form-control" id="form10" name="password">
          <label for="form10">Type your password</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective data-error="wrong password" [mdbValidate]="false" [formControl]="noValidation" data-success="valid password"
            type="text" class="form-control" id="form11" name="password">
          <label for="form11">Turn off validation</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective data-error="wrong password" [validateSuccess]="false" [formControl]="noSuccessValidation" data-success="valid password"
            type="text" class="form-control" id="form12" name="password">
          <label for="form12">Turn off success validation</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective data-error="wrong password" [validateError]="false" [formControl]="noErrorValidation" data-success="valid password"
            type="text" class="form-control" id="form13" name="password">
          <label for="form13">Turn off error validation</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective [errorMessage]="errorMessage" [successMessage]="'Custom success message'" [formControl]="customMessages"
            type="text" class="form-control" id="form14" name="password">
          <label for="form14">Custom validation messages</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Error or Success Messages -->
  <hr class="my-5">

  <!-- Disabled input -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Disabled input</h4>
      <div class="md-form form-sm">
        <input type="text" id="form16" class="form-control" disabled>
        <label for="form16" class="disabled">Example label</label>
      </div>
    </div>
  </div>
  <!-- Disabled input -->
  <hr class="my-5">

  <!-- Inline forms -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Inline forms</h4>
      <form class="form-inline">

        <div class="md-form form-group">
          <i class="fa fa-envelope prefix"></i>
          <input mdbInputDirective type="email" class="form-control" id="form19" name="email">
          <label for="form19">Type your e-mail</label>
        </div>
        <div class="md-form form-group">
          <i class="fa fa-lock prefix"></i>
          <input mdbInputDirective type="password" class="form-control" id="form18" name="password">
          <label for="form18">Type your password</label>
        </div>

        <div class="md-form form-group">
          <a mdbBtn color="primary" size="lg" class="waves-light" mdbWavesEffect>Login</a>
        </div>

      </form>
    </div>
  </div>
  <!-- Inline forms -->
  <hr class="my-5">

  <!-- Using the Grid -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Using the Grid</h4>
      <form>
        <!--First row-->
        <div class="row">
          <!--First column-->
          <div class="col-md-6">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <input mdbInputDirective type="email" class="form-control" id="form17" name="email">
              <label for="form17">Type your e-mail</label>
            </div>
          </div>

          <!--Second column-->
          <div class="col-md-6">
            <div class="md-form">
              <i class="fa fa-lock prefix"></i>
              <input mdbInputDirective type="password" class="form-control" id="form15" name="password">
              <label for="form15">Type your password</label>
            </div>
          </div>
        </div>
        <!--/.First row-->

        <!--Second row-->
        <div class="row">
          <!--First column-->
          <div class="col-md-12">

            <div class="md-form">
              <textarea mdbInputDirective type="text" id="form76" class="md-textarea form-control" rows="3"></textarea>
              <label for="form76">Basic textarea</label>
            </div>

          </div>
        </div>
        <!--/.Second row-->

        <!--Third row-->
        <div class="row">

          <!--First column-->
          <div class="col-md-4">
            <div class="md-form">
              <input mdbInputDirective type="text" id="form41" class="form-control">
              <label for="form41" class="">Example label</label>
            </div>
          </div>

          <!--Second column-->
          <div class="col-md-4">
            <div class="md-form">
              <input mdbInputDirective type="text" id="form51" class="form-control">
              <label for="form51" class="">Example label</label>
            </div>
          </div>

          <!--Third column-->
          <div class="col-md-4">
            <div class="md-form">
              <input mdbInputDirective type="text" id="form61" class="form-control">
              <label for="form61" class="">Example label</label>
            </div>
          </div>

        </div>
        <!--/.Third row-->
      </form>
    </div>
  </div>
  <!-- Using the Grid -->
  <hr class="my-5">

  <!-- Textarea -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Textarea</h4>
      <!--Basic textarea-->
      <div class="md-form">
        <textarea mdbInputDirective type="text" id="form7" class="md-textarea form-control" rows="3"></textarea>
        <label for="form7">Basic textarea</label>
      </div>

      <!--Textarea with icon prefix-->
      <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <textarea mdbInputDirective type="text" id="form8" class="md-textarea form-control" rows="3"></textarea>
        <label for="form8">Icon Prefix</label>
      </div>
    </div>
  </div>
  <!-- Textarea -->
  <hr class="my-5">

  <!-- Numeric input -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Numeric input</h4>
      <div class="md-form">
        <input type="number" class="form-control" id="numberInputEx" mdbInputDirective>
        <label for="numberInputEx">Number input</label>
      </div>
    </div>
  </div>
  <!-- Numeric input -->
</div>