<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Forms</h2>
    </div>
  </div>

  <!-- Login form -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Login form</h4>
      <!-- Login form -->
      <form [formGroup]="loginForm">
        <p class="h5 text-center mb-4">Sign in</p>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control" mdbInputDirective>
          <label for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control" mdbInputDirective>
          <label for="defaultForm-pass">Your password</label>
        </div>

        <div class="text-center">
          <input type="submit" mdbBtn color="default" class="waves-light" mdbWavesEffect value="Login">
        </div>
      </form>
      <!-- Login form -->
    </div>
  </div>
  <!-- Login form -->

  <hr class="my-5">

  <!-- Register form -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Register form</h4>
      <!-- Register form -->
      <form [formGroup]="registerForm">
        <p class="h5 text-center mb-4">Sign up</p>

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" formControlName="orangeFormName" id="orangeForm-name" class="form-control" mdbInputDirective>
          <label for="orangeForm-name">Your name</label>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" formControlName="orangeFormEmail" id="orangeForm-email" class="form-control" mdbInputDirective>
          <label for="orangeForm-email">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" formControlName="orangeFormPass" id="orangeForm-pass" class="form-control" mdbInputDirective>
          <label for="orangeForm-pass">Your password</label>
        </div>

        <div class="text-center">
          <input mdbBtn color="deep-orange" class="waves-light" value="Sign up" mdbWavesEffect>
        </div>
      </form>
      <!-- Register form -->
    </div>
  </div>
  <!-- Register form -->

  <hr class="my-5">

  <!-- Subscription form -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Subscription form</h4>
      <!-- Subscription form -->
      <form [formGroup]="subscriptionForm">
        <p class="h5 text-center mb-4">Sign up</p>

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" formControlName="subscriptionFormName" id="subscriptionFormName" class="form-control" mdbInputDirective>
          <label for="subscriptionFormName">Your name</label>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="subscriptionFormEmail" formControlName="subscriptionFormEmail" class="form-control" mdbInputDirective>
          <label for="subscriptionFormEmail">Your email</label>
        </div>

        <div class="text-center">
          <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect>Send
            <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
        </div>
      </form>
      <!-- Subscription form -->
    </div>
  </div>
  <!-- Subscription form -->

  <hr class="my-5">

  <!-- Contact form -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Contact form</h4>
      <!-- contact form -->
      <form [formGroup]="contactForm">
        <p class="h5 text-center mb-4">Write to us</p>

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="contactFormName" formControlName="contactFormName" class="form-control" mdbInputDirective>
          <label for="contactFormName">Your name</label>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="contactFormEmail" formControlName="contactFormEmail" class="form-control" mdbInputDirective>
          <label for="contactFormEmail">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-tag prefix grey-text"></i>
          <input type="text" id="contactFormSubject" formControlName="contactFormSubject" class="form-control" mdbInputDirective>
          <label for="contactFormSubject">Subject</label>
        </div>

        <div class="md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea type="text" id="contactFormMessage" formControlName="contactFormMessage" class="md-textarea" style="height: 100px"
            mdbInputDirective></textarea>
          <label for="contactFormMessage">Your message</label>
        </div>

        <div class="text-center">
          <button mdbBtn color="unique" class="waves-light" mdbWavesEffect>Send
            <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
        </div>
      </form>
      <!-- contact form -->
    </div>
  </div>
  <!-- Contact form -->

  <hr class="my-5">

  <!-- Form within a card -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Form within a card</h4>
      <mdb-card>
        <mdb-card-body>
          <!-- Material form register -->
          <form [formGroup]="cardForm">
            <p class="h4 text-center py-4">Sign up</p>

            <!-- Material input text -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="materialFormCardNameEx" formControlName="materialFormCardNameEx" class="form-control" mdbInputDirective>
              <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="materialFormCardEmailEx" formControlName="materialFormCardEmailEx" class="form-control" mdbInputDirective>
              <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-exclamation-triangle prefix grey-text"></i>
              <input type="email" id="materialFormCardConfirmEx" formControlName="materialFormCardConfirmEx" class="form-control" mdbInputDirective>
              <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="materialFormCardPasswordEx" formControlName="materialFormCardPasswordEx" class="form-control"
                mdbInputDirective>
              <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
            </div>

            <div class="text-center py-4 mt-3">
              <button mdbBtn color="cyan" class="waves-light" type="submit" mdbWavesEffect>Register</button>
            </div>
          </form>
          <!-- Material form register -->
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <!-- Form within a card -->

  <hr class="my-5">

  <!-- Form within a modal -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Form within a modal</h4>
      <div class="mx-auto d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="mx-auto text-center waves-light" (click)="form.show()" mdbWavesEffect>Contact form</button>
      </div>

      <!--Modal: Contact form-->
      <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
              <h4 class="title">
                <i class="fa fa-pencil"></i> Contact form</h4>
              <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
              <form [formGroup]="modalForm">
                <div class="md-form form-sm">
                  <i class="fa fa-envelope prefix"></i>
                  <input mdbInputDirective type="text" id="modalFormNameEx" formControlName="modalFormNameEx" class="form-control">
                  <label for="modalFormNameEx">Your name</label>
                </div>

                <div class="md-form form-sm">
                  <i class="fa fa-lock prefix"></i>
                  <input mdbInputDirective type="email" id="modalFormEmailEx" formControlName="modalFormEmailEx" class="form-control">
                  <label for="modalFormEmailEx">Your email</label>
                </div>

                <div class="md-form form-sm">
                  <i class="fa fa-tag prefix"></i>
                  <input mdbInputDirective type="text" id="modalFormSubjectEx" formControlName="modalFormSubjectEx" class="form-control">
                  <label for="modalFormSubjectEx">Subject</label>
                </div>

                <div class="md-form form-sm">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbInputDirective type="text" id="modalFormTextEx" formControlName="modalFormTextEx" class="md-textarea mb-0"></textarea>
                  <label for="modalFormTextEx">Your message</label>
                </div>

                <div class="text-center mt-1-half">
                  <button mdbBtn color="info" class="mb-2 waves-light" mdbWavesEffect>Send
                    <i class="fa fa-send ml-1"></i>
                  </button>
                </div>
              </form>

            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Contact form-->
    </div>
  </div>
  <!-- Form within a modal -->

  <hr class="my-5">

  <!-- Simple form -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Simple form</h4>
      <section class="form-simple">

        <!--Form with header-->
        <mdb-card>

          <!--Header-->
          <div class="header pt-3 grey lighten-2">

            <div class="row d-flex justify-content-start">
              <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Log in</h3>
            </div>

          </div>
          <!--Header-->

          <mdb-card-body class="mx-4 mt-4">

            <!--Body-->
            <form [formGroup]="simpleForm">


              <div class="md-form">
                <input type="text" id="simpleFormEmailEx" class="form-control" formControlName="simpleFormEmailEx" mdbInputDirective>
                <label for="simpleFormEmailEx">Your email</label>
              </div>

              <div class="md-form pb-3">
                <input type="password" id="simpleFormPasswordEx" class="form-control" formControlName="simpleFormPasswordEx" mdbInputDirective>
                <label for="simpleFormPasswordEx">Your password</label>
                <p class="font-small grey-text d-flex justify-content-end">Forgot
                  <a href="#" class="dark-grey-text font-weight-bold ml-1"> Password?</a>
                </p>
              </div>
            </form>

            <div class="text-center mb-4">
              <button type="button" mdbBtn color="danger" block="true" class="z-depth-2" mdbWavesEffect>Log in</button>
            </div>
            <p class="font-small grey-text d-flex justify-content-center">Don't have an account?
              <a href="#" class="dark-grey-text font-weight-bold ml-1"> Sign up</a>
            </p>

          </mdb-card-body>

        </mdb-card>
        <!--/Form with header-->

      </section>
    </div>
  </div>
  <!-- Simple form -->

  <hr class="my-5">


</div>