<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Panels</h2>
    </div>
  </div>

  <div class="row">
    <!-- Basic Example -->
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic Example</h4>
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Panel title</h4>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</mdb-card-text>
          <div class="flex-row">
            <a class="card-link">Card link</a>
            <a class="card-link">Another link</a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!-- Basic Example -->
  </div>

  <hr class="my-5">

  <!-- Header and footer -->
  <div class="row">
    <!-- Header and footer -->
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Header and footer</h4>
    </div>

    <div class="row d-flex flex-center">
      <div class="col-md-4 mb-4">
        <mdb-card>
          <mdb-card-header class="deep-orange lighten-1 white-text">
            Featured
          </mdb-card-header>
          <mdb-card-body>
            <mdb-card-title>Special title treatment</mdb-card-title>
            <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
            <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Go somewhere</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-md-4 mb-4">
        <mdb-card class="text-center">
          <mdb-card-header class="success-color white-text">
            <h4>Featured</h4>
          </mdb-card-header>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Special title treatment</h4>
            </mdb-card-title>
            <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
            <a mdbBtn color="success" size="sm" class="waves-light" mdbWavesEffect>Go somewhere</a>
          </mdb-card-body>
          <mdb-card-footer class="text-muted success-color white-text">
            <p class="mb-0">2 days ago</p>
          </mdb-card-footer>
        </mdb-card>
      </div>

      <div class="col-md-4">
        <mdb-card>
          <mdb-card-header class="primary-color white-text">
            <h4>Featured</h4>
          </mdb-card-header>
          <mdb-card-body>
            <mdb-card-title>Special title treatment</mdb-card-title>
            <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
            <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>Go somewhere</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <!-- Header and footer -->
  </div>
  <!-- Header and footer -->

  <hr class="my-5">
  <!-- Header and footer -->
  <div class="row">

    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Background variants</h4>
    </div>

    <div class="row d-flex flex-center">
      <div class="col-md-4 mb-4">
        <!--Card Primary-->
        <div class="card indigo text-center z-depth-2">
          <div class="card-body">
            <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
        </div>
        <!--/.Card Primary-->
      </div>

      <div class="col-md-4 mb-4">
        <!--Card Danger-->
        <div class="card pink lighten-2 text-center z-depth-2">
          <div class="card-body">
            <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
        </div>
        <!--/.Card Danger-->
      </div>

      <div class="col-md-4 mb-4">
        <!--Card Success-->
        <div class="card info-color text-center z-depth-2">
          <div class="card-body">
            <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
        </div>
        <!--/.Card Success-->
      </div>

      <div class="col-md-4 mb-4">
        <!--Card Warning-->
        <div class="card red lighten-1 text-center z-depth-2">
          <div class="card-body">
            <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
        </div>
        <!--/.Card Warning-->
      </div>

      <div class="col-md-4 mb-4">
        <!--Card Info-->
        <div class="card success-color text-center z-depth-2">
          <div class="card-body">
            <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
        </div>
        <!--/.Card Info-->
      </div>

      <div class="col-md-4 mb-4">
        <!--Card Default-->
        <div class="card mdb-color lighten-2 text-center z-depth-2">
          <div class="card-body">
            <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
        </div>
        <!--/.Card Default-->
      </div>

    </div>

  </div>
  <!-- Header and footer -->

  <hr class="my-5">

  <div class="row">
    <!-- Basic Example -->
    <div class="col-md-12 mx-auto mb-5">
      <h4 class="text-center">Basic Example</h4>
      <div class="jumbotron">
        <h2 class="h1 h1-responsive">Hello, world!</h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
          information.</p>
        <hr class="my-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.
        </p>
        <a class="btn btn-primary btn-lg waves-light" role="button" mdbWavesEffect>Learn more</a>
      </div>
    </div>
    <!-- Basic Example -->
  </div>
</div>