<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Hamburger Menu</h2>
    </div>
  </div>

  <!-- Basic Examples -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-5">
      <h4 class="text-center">Basic Example</h4>
      <!--Navbar-->
      <mdb-navbar SideClass="navbar navbar-1 navbar-light amber lighten-2" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand>
          <a class="navbar-brand" href="#">Navbar</a>
        </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>
          </ul>
          <!-- Links -->
        </links>
        <!-- Collapsible content -->

      </mdb-navbar>
      <!--/.Navbar-->
    </div>
  </div>
  <!-- Basic Examples -->

  <hr class="my-5">

  <!-- Various hamburger menu icons -->
  <div class="row mb-5">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Various hamburger menu icons</h4>
      <!--Navbar-->
      <mdb-navbar SideClass="navbar custom-navbar-icon navbar-1 navbar-dark purple" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand>
          <a class="navbar-brand" href="#">Navbar</a>
        </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>
          </ul>
          <!-- Links -->
        </links>
        <!-- Collapsible content -->

      </mdb-navbar>
      <!--/.Navbar-->
    </div>
  </div>
  <!-- Various hamburger menu icons -->
</div>