<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Table Responsive</h2>
    </div>
  </div>

  <!-- Always responsive -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-5">
      <h4 class="text-center">Always responsive</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Always responsive -->

  <hr class="my-5">

  <!-- Breakpoint specific -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-5">
      <h4 class="text-center">Breakpoint specific</h4>
      <div class="table-responsive">

        <div class="table-responsive-sm">
          <table class="table">
            ...
          </table>
        </div>

        <div class="table-responsive-md">
          <table class="table">
            ...
          </table>
        </div>

        <div class="table-responsive-lg">
          <table class="table">
            ...
          </table>
        </div>

        <div class="table-responsive-xl">
          <table class="table">
            ...
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Breakpoint specific -->

  <hr class="my-5">

  <!-- Table columns with auto width -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Table columns with auto width</h4>
      <!--Table-->
      <table class="table mx-auto table-striped w-auto">

        <!--Table head-->
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Country</th>
            <th>City</th>
            <th>Position</th>
            <th>Age</th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr class="table-info">
            <th scope="row">1</th>
            <td>Kate</td>
            <td>Moss</td>
            <td>USA</td>
            <td>New York City</td>
            <td>Web Designer</td>
            <td>23</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Anna</td>
            <td>Wintour</td>
            <td>United Kingdom</td>
            <td>London</td>
            <td>Frontend Developer</td>
            <td>36</td>
          </tr>
          <tr class="table-info">
            <th scope="row">3</th>
            <td>Tom</td>
            <td>Bond</td>
            <td>Spain</td>
            <td>Madrid</td>
            <td>Photographer</td>
            <td>25</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Jerry</td>
            <td>Horwitz</td>
            <td>Italy</td>
            <td>Bari</td>
            <td>Editor-in-chief</td>
            <td>41</td>
          </tr>
          <tr class="table-info">
            <th scope="row">5</th>
            <td>Janis</td>
            <td>Joplin</td>
            <td>Poland</td>
            <td>Warsaw</td>
            <td>Video Maker</td>
            <td>39</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Gary</td>
            <td>Winogrand</td>
            <td>Germany</td>
            <td>Berlin</td>
            <td>Photographer</td>
            <td>37</td>
          </tr>
          <tr class="table-info">
            <th scope="row">7</th>
            <td>Angie</td>
            <td>Smith</td>
            <td>USA</td>
            <td>San Francisco</td>
            <td>Teacher</td>
            <td>52</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>John</td>
            <td>Mattis</td>
            <td>France</td>
            <td>Paris</td>
            <td>Actor</td>
            <td>28</td>
          </tr>
          <tr class="table-info">
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
          </tr>
        </tbody>
        <!--Table body-->


      </table>
      <!--Table-->
    </div>
  </div>
  <!-- Table columns with auto width -->

  <hr class="my-5">

  <!-- Table columns with minimal width -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <h4 class="text-center">Table columns with minimal width</h4>
      <div class="table-responsive">

        <!--Table-->
        <table class="table">

          <!--Table head-->
          <thead>
            <tr>
              <th>#</th>
              <th class="th-lg">Lorem ipsum dolor</th>
              <th class="th-lg">Lorem ipsum dolor</th>
              <th class="th-lg">Lorem ipsum dolor</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->

      </div>
    </div>
  </div>
  <!-- Table columns with minimal width -->

  <hr class="my-5">

  <!-- Table columns with fixed width -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mb-5">
      <h4 class="text-center">Table columns with fixed width</h4>
      <!--Table-->
      <table class="table table-hover table-fixed">

        <!--Table head-->
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Country</th>
            <th>City</th>
            <th>Position</th>
            <th>Age</th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr>
            <th scope="row">4</th>
            <td>Jerry</td>
            <td>Horwitz</td>
            <td>Italy</td>
            <td>Bari</td>
            <td>Editor-in-chief</td>
            <td>41</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Janis</td>
            <td>Joplin</td>
            <td>Poland</td>
            <td>Warsaw</td>
            <td>Video Maker</td>
            <td>39</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Gary</td>
            <td>Winogrand</td>
            <td>Germany</td>
            <td>Berlin</td>
            <td>Photographer</td>
            <td>37</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Angie</td>
            <td>Smith</td>
            <td>USA</td>
            <td>San Francisco</td>
            <td>Teacher</td>
            <td>52</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>John</td>
            <td>Mattis</td>
            <td>France</td>
            <td>Paris</td>
            <td>Actor</td>
            <td>28</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
          </tr>
        </tbody>
        <!--Table body-->

      </table>
      <!--Table-->
    </div>
  </div>
  <!-- Table columns with fixed width -->
</div>