<!-- Start your project here-->
<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
      <h1 class="text-white text-poppy-red">BLACK NOVEMBER SURPRISE!</h1>
      <i class="fas fa-shopping-basket text-white fa-10x"></i>
      <p class="mt-2 text-white">
        Check what we have prepared and start using the richest UI Kit today.<br />Hurry up & don't
        loose your chance.
      </p>
      <p>
        <a type="button" class="btn btn-danger btn-rounded btn-lg text-white bg-poppy-red" href="https://mdbootstrap.com/sale/" ><i class="fas fa-cart-arrow-down"></i> CLAIM OFFER</a>
      </p>
    </div>
  </div>
</div>
<!-- /Start your project here-->
