<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Advanced Modals</h2>
    </div>
  </div>

  <!-- Cookie Modal -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Cookie Modal</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="cookie.show()" mdbWavesEffect>
          Cookie Modal
        </button>
      </div>

      <div mdbModal #cookie="mdbModal" class="modal fade bottom" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
              <div class="row d-flex justify-content-center align-items-center">

                <p class="pt-3 pr-2">We use cookies to improve your website experience</p>

                <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Learn more
                  <i class="fa fa-book ml-1"></i>
                </a>
                <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
                  (click)="cookie.hide()">Ok, thanks</a>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Cookie Modal -->

  <hr class="my-5">

  <!-- Modal Coupon -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal Coupon</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="coupon.show()" mdbWavesEffect>Modal
          Coupon</button>
      </div>

      <div mdbModal #coupon="mdbModal" class="modal fade bottom" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
              <div class="row d-flex justify-content-center align-items-center">

                <h2>
                  <span class="badge badge-success">v52gs1</span>
                </h2>
                <p class="pt-3 mx-4">We have a gift for you! Use this code to get a
                  <strong>10% discount</strong>.</p>

                <a type="button" mdbBtn color="success" class="waves-light" mdbWavesEffect>Get it
                  <i class="fa fa-book ml-1"></i>
                </a>
                <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
                  (click)="coupon.hide()">Ok, thanks</a>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Modal Coupon -->

  <hr class="my-5">

  <!-- Modal Discount -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal Discount</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="discount.show()" mdbWavesEffect>Modal
          Discount</button>
      </div>

      <div mdbModal #discount="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">

        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading">Discount offer:
                <strong>10% off</strong>
              </p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="discount.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

              <div class="row">
                <div class="col-3">
                  <p></p>
                  <p class="text-center">
                    <i class="fa fa-gift fa-4x"></i>
                  </p>
                </div>

                <div class="col-9">
                  <p>Sharing is caring. Therefore, from time to time we like to give our visitors small gifts. Today is
                    one of those
                    days.
                  </p>
                  <p>
                    <strong>Copy the following code and use it at the checkout. It's valid for
                      <u>one day</u>.</strong>
                  </p>
                  <h2>
                    <span class="badge">v52gs1</span>
                  </h2>

                </div>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
              <a href="https://mdbootstrap.com/products/angular-ui-kit/" mdbBtn color="danger" class="waves-effect"
                mdbWavesEffect>Get it now
                <i class="fa fa-diamond ml-1"></i>
              </a>
              <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal"
                (click)="discount.hide()">No, thanks</a>
            </div>
          </div>
          <!--/.Content-->
        </div>

      </div>

    </div>
  </div>
  <!-- Modal Discount -->

  <hr class="my-5">

  <!-- Modal Related -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal Related</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="related.show()" mdbWavesEffect>Modal
          Related</button>
      </div>

      <div mdbModal #related="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading">Related article</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="related.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

              <div class="row">
                <div class="col-5">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(55).jpg" class="img-fluid"
                    alt="">
                </div>

                <div class="col-7">
                  <p>
                    <strong>My travel to paradise</strong>
                  </p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit [...]</p>
                  <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Read more</button>

                </div>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Modal Related -->

  <hr class="my-5">

  <!-- Modal Abandoned cart -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal Abandoned cart</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="cart.show()" mdbWavesEffect>Modal
          Abandoned cart</button>
      </div>

      <div mdbModal #cart="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading">Product in the cart
              </p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cart.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

              <div class="row">
                <div class="col-3">
                  <p></p>
                  <p class="text-center">
                    <i class="fa fa-shopping-cart fa-4x"></i>
                  </p>
                </div>

                <div class="col-9">
                  <p>Do you need more time to make a purchase decision?</p>
                  <p>No pressure, your product will be waiting for you in the cart.</p>
                </div>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect>Go to cart</a>
              <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal"
                (click)="cart.hide()">Cancel</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Modal Abandoned cart -->

  <hr class="my-5">

  <!-- Modal Confirm delete -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal Confirm delete</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="delete.show()" mdbWavesEffect>Modal
          Confirm delete</button>
      </div>

      <div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
          <!--Content-->
          <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
              <p class="heading">Are you sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">
              <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
              <a href="https://mdbootstrap.com/products/angular-ui-kit/" mdbBtn color="danger" outline="true"
                class="waves-effect" mdbWavesEffect>Yes</a>
              <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="delete.hide()">No</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Modal Confirm delete -->

  <hr class="my-5">

  <!-- Modal Cart -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal Cart</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="cartt.show()" mdbWavesEffect>Modal
          Cart</button>
      </div>

      <div mdbModal #cartt="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Your cart</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cartt.hide()">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!--Body-->
            <div class="modal-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Product 1</td>
                    <td>100$</td>
                    <td>
                      <a>
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Product 2</td>
                    <td>100$</td>
                    <td>
                      <a>
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Product 3</td>
                    <td>100$</td>
                    <td>
                      <a>
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Product 4</td>
                    <td>100$</td>
                    <td>
                      <a>
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                  <tr class="total">
                    <th scope="row">5</th>
                    <td>Total</td>
                    <td>400$</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
                data-dismiss="modal" (click)="cartt.hide()">Close</button>
              <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Checkout</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal Cart -->

  <hr class="my-5">

  <!-- Modal Push -->
  <div class="row mb-5">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal Push</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="push.show()" mdbWavesEffect>Modal
          Push</button>
      </div>

      <div mdbModal #push="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
          <!--Content-->
          <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
              <p class="heading">Be always up to date</p>
            </div>

            <!--Body-->
            <div class="modal-body">
              <i class="fa fa-bell fa-4x animated rotateIn mb-4"></i>
              <p>Do you want to receive the push notification about the newest posts?</p>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
              <a href="https://mdbootstrap.com/products/angular-ui-kit/" mdbBtn color="primary" class="waves-light"
                mdbWavesEffect>Yes</a>
              <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
                (click)="push.hide()">No</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Modal Push -->
</div>
