<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Inputs Groups</h2>
    </div>
  </div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic example</h4>
      <div class="md-form input-group">
        <div class="input-group-prepend" id="basic-addon1">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>

      <div class="md-form input-group">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append" id="basic-addon2">
          <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
      </div>

      <label for="basic-url">Your vanity URL</label>
      <div class="md-form input-group">
        <div class="input-group-prepend" id="basic-addon3">
          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>

      <div class="md-form input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Basic example -->

  <hr class="my-5">

  <!-- Button addons  -->
  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h4 class="text-center">Button addons</h4>
      <!--Left-->
      <div class="md-form input-group">
        <div class="input-group-btn">
          <button mdbBtn color="primary" size="lg" class="waves-light" type="button" mdbWavesEffect>Go!</button>
        </div>
        <input type="search" class="form-control" placeholder="Search for...">
      </div>

      <!--Right-->
      <div class="md-form input-group">
        <input type="search" class="form-control" placeholder="Search for...">
        <div class="input-group-btn">
          <button mdbBtn color="primary" size="lg" class="waves-light" type="button" mdbWavesEffect>Go!</button>
        </div>
      </div>

      <!--Both sides-->
      <div class="md-form input-group">
        <div class="input-group-btn">
          <button mdbBtn color="default" size="lg" class="waves-light" type="button" mdbWavesEffect>Hate it</button>
        </div>
        <input type="text" class="form-control" placeholder="Product name">
        <div class="input-group-btn">
          <button mdbBtn color="danger" size="lg" class="waves-light" type="button" mdbWavesEffect>Love it</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Button addons -->
</div>