<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Cards</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h3 class="text-center">
        <strong>Basic Cards</strong>
      </h3>
    </div>
    <div class="row">

      <!-- Basic Example -->
      <div class="col-md-6 mx-auto mb-5">
        <h4 class="text-center">Basic Example</h4>
        <mdb-card>
          <!--Card image-->
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

            <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Basic Example -->

      <!-- Waves effect -->
      <div class="col-md-6 mx-auto mb-5">
        <h4 class="text-center">Waves effect</h4>
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

            <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Waves effect -->

    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h3 class="text-center">
        <strong>Reversed cascade</strong>
      </h3>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true" class="text-center">

            <!--Title-->
            <mdb-card-title>
              <h4>
                <strong>My adventure</strong>
              </h4>
            </mdb-card-title>

            <h5 class="indigo-text">
              <strong>Photography</strong>
            </h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>

            <!--Linkedin-->
            <a class="icons-sm li-ic">
              <mdb-icon icon="linkedin" class="px-2"></mdb-icon>
            </a>
            <!--Twitter-->
            <a class="icons-sm tw-ic">
              <mdb-icon icon="twitter" class="px-2"></mdb-icon>
            </a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic">
              <mdb-icon icon="facebook" class="px-2"></mdb-icon>
            </a>
          </mdb-card-body>

        </mdb-card>
      </div>
    </div>
  </div>

</div>