<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Inputs Validation</h2>
    </div>
  </div>

  <!-- minLength Validator -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">minLength Validator</h4>
      <form [formGroup]="validatingForm">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form2" class="form-control" data-error="wrong text" data-success="right text" formControlName="minlength">
          <label for="form2">minLength validator</label>
        </div>
      </form>
    </div>
  </div>
  <!-- minLength Validator -->
  <hr class="my-5">

  <!-- maxLength Validator -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">maxLength Validator</h4>
      <form [formGroup]="validatingForm">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form3" class="form-control" data-error="wrong text" data-success="right text" formControlName="maxlength">
          <label for="form3">maxLength validator</label>
        </div>
      </form>
    </div>
  </div>
  <!-- maxLength Validator -->
  <hr class="my-5">

  <!-- Min value Validator -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Min value Validator</h4>
      <form [formGroup]="validatingForm">
        <div class="md-form">
          <input mdbInputDirective type="number" id="form4" class="form-control" data-error="wrong number" data-success="right number"
            formControlName="min">
          <label for="form4">min value validator</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Min value Validator -->
  <hr class="my-5">

  <!-- Max value Validator -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Max value Validator</h4>
      <form [formGroup]="validatingForm">
        <div class="md-form">
          <input mdbInputDirective type="number" id="form5" class="form-control" data-error="wrong number" data-success="right number"
            formControlName="max">
          <label for="form5">max value validator</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Max value Validator -->
  <hr class="my-5">

  <!-- Email Validator -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Email Validator</h4>
      <form [formGroup]="validatingForm">
        <div class="md-form">
          <input mdbInputDirective type="email" id="form6" class="form-control" data-error="wrong email" data-success="right email"
            formControlName="email">
          <label for="form6">max value validator</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Email Validator -->
  <hr class="my-5">

  <!-- Pattern Validator -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Pattern Validator</h4>
      <form [formGroup]="validatingForm">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form7" class="form-control" data-error="wrong text" data-success="right text" formControlName="pattern">
          <label for="form7">only letters (pattern) validator</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Pattern Validator -->
  <hr class="my-5">

  <!-- Required Validator -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Required Validator</h4>
      <form [formGroup]="validatingForm">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form1" class="form-control" data-error="Something went wrong..." data-success="Everything is okay!"
            formControlName="required">
          <label for="form1">Required validator</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Required Validator -->
  <hr class="my-5">

  <!-- Custom validation messages -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Custom validation messages</h4>
      <form>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input mdbInputDirective data-error="wrong email" [formControl]="emailFormEx" data-success="valid email" minLength="8" maxLength="25"
            type="email" class="form-control" id="form9" name="email" mdbInputDirective>
          <label for="form9">Type your e-mail</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input mdbInputDirective data-error="wrong password" [formControl]="passwordFormEx" data-success="valid password" minLength="10"
            maxLength="25" type="password" class="form-control" id="form10" name="password">
          <label for="form10">Type your password</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective data-error="wrong password" [mdbValidate]="false" [formControl]="noValidation" data-success="valid password"
            type="text" class="form-control" id="form11" name="password">
          <label for="form11">Turn off validation</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective data-error="wrong password" [validateSuccess]="false" [formControl]="noSuccessValidation" data-success="valid password"
            type="text" class="form-control" id="form12" name="password">
          <label for="form12">Turn off success validation</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective data-error="wrong password" [validateError]="false" [formControl]="noErrorValidation" data-success="valid password"
            type="text" class="form-control" id="form13" name="password">
          <label for="form13">Turn off error validation</label>
        </div>

        <div class="md-form">
          <input mdbInputDirective [errorMessage]="errorMessage" [successMessage]="'Custom success message'" [formControl]="customMessages"
            type="text" class="form-control" id="form14" name="password">
          <label for="form14">Custom validation messages</label>
        </div>
      </form>
    </div>
  </div>
  <!-- Custom validation messages -->
  <hr class="my-5">
</div>