<main class="container">
  <div class="row">
    <div class="col-md-8 mx-auto my-5">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>MDB Angular Live Demo</h4>
          </mdb-card-title>
          <mdb-card-text class="py-3">This application shows the actual use of MDB Angular components in the application.</mdb-card-text>
          <div class="d-flex flex-row justify-content-center">
            <a class="card-link" href="https://mdbootstrap.com/angular" alt="official documentation">Official documentation</a>
            <a class="card-link" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" alt="getting started">Getting Started</a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</main>
<div class="container-fluid">
  <div class="row red text-white">
    <div class="col-md-12 text-center mx-auto my-5">
      <p class="description">Google has designed a Material Design to make the web more beautiful and more user-friendly.

      </p>
      <p class="description">Twitter has created a Bootstrap to support you in faster and easier development of responsive and effective websites.
      </p>
      <p class="description"> We present you a framework containing the best features of both of them - Material Design for Bootstrap.</p>
    </div>
  </div>
</div>

<div class="container">


  <div class="row">
    <div class="col-md-12 my-5">
      <!--Section: Features v.2-->
      <section class="text-center">

        <!--Section heading-->
        <h2 class="h1 pb-5 font-weight-bold">Why is it so great?</h2>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam.</p>

        <!--Grid row-->
        <div class="row text-left">

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="css3" size="2x" class="blue-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">CSS</h4>
              <p class="grey-text">Animations, colours, shadows, skins and many more! Get to know all our css styles in one place.</p>
              <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" routerLink="/css" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="cubes" size="2x" class="pink-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Components</h4>
              <p class="grey-text">Ready-to-use components that you can use in your applications. Both basic and extended versions!</p>
              <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" routerLink="/components" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="code" size="2x" class="purple-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Advanced</h4>
              <p class="grey-text">Advanced components such as charts, carousels, tooltips and popovers. All in Material Design version.</p>
              <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" routerLink="/advanced" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="my-5">

        <!--Grid row-->
        <div class="row text-left">

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="bars" size="2x" class="blue-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Navigation</h4>
              <p class="grey-text">Ready-to-use navigation layouts, navbars, breadcrumbs and much more! Learn more about our navigation components.</p>
              <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" routerLink="/navigation" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="edit" size="2x" class="pink-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Forms</h4>
              <p class="grey-text">Inputs, autocomplete, selecst, date and time pickers. Everything in one place is ready to use!</p>
              <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" routerLink="/forms" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="table" size="2x" class="purple-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Tables</h4>
              <p class="grey-text">Basic and advanced tables. Responsive, datatables, with sorting, searching and export to csv. </p>
              <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" routerLink="/tables" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="my-5">

        <!--Grid row-->
        <div class="row text-left">

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="window-restore" size="2x" class="blue-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Modals</h4>
              <p class="grey-text">Models used to display advanced messages to the user. Cookies, logging in, registration and much more.</p>
              <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" routerLink="/modals" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <div class="col-1 col-md-2 float-left">
              <mdb-icon icon="arrows" size="2x" class="pink-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Extended</h4>
              <p class="grey-text">Google Maps, Social Buttons, Pre-built Contact Forms and Steppers. Find out more about our extended components.</p>
              <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" routerLink="/extended" mdbWavesEffect>Learn more</a>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Features v.2-->
    </div>
  </div>
</div>