<form class="text-center border border-light p-5" xmlns="http://www.w3.org/1999/html">
    <div class="w-responsive text-center mx-auto p-3 mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="assets/Station-dummies.jpg" class="figure-img img-fluid z-depth-1" alt="..." style="width: 400px">
                    </figure>
                </div>
                <div class="col-md-4">
                    <div class="text-left">
                        <h3>Summary</h3>
                        <p>Ward Hunt Island is located near the northern coastline of Ellesmere Island, Nunavut, in the Canadian High Arctic The station is 50 m from a coastal lagoon on the northern side of the island in a polar desert landscape This record contains air temperature data within the period 1 January 2019 to 31 December 2020 (links to the full AWS database are given in the metadata and landscape images looking outwards from the station in summer</p>
                        <p><strong>Station Code: </strong>WHIB</p>
                        <p><strong>Name: </strong>Ward Hunt Island Observatory, Canada</p>
                        <p><strong>Location: </strong>83 0914 N, 74 1328 W altitude 8 m</p>
                        <p><strong>Data time interval: </strong>1/1/2019 to 31/12/2020</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="assets/sila.jpg" class="figure-img img-fluid z-depth-1" alt="..." style="width: 400px">
                    </figure>
                    <figure class="figure">
                        <img src="assets/photo-NSEW.PNG" class="figure-img img-fluid z-depth-1" alt="..." style="width: 400px">
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <button mdbBtn color="info" block="true" type="submit">Download Metadata</button>
                    <button mdbBtn color="info" block="true" type="submit">Download Air Temperature</button>
                    <button mdbBtn color="info" block="true" type="submit">Download Landscaope Images</button>
                    <button mdbBtn color="info" block="true" type="submit">Download Citation</button>
                </div>
                <div class="col-md-4">
                    <div class="text-left">
                        <h3>Cite this dataset as: </h3>
                        <p>CEN (2020) Air temperature data and landscape images at Ward Hunt Island, Canada, 2019 2020, version 1.0. Nordicana DXX, doi:XXXX.XXXX.XXXX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
