<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap List Group</h2>
    </div>
  </div>

  <div class="row">
    <!-- Basic Example -->
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic Example</h4>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <!-- Basic Example -->

    <!-- Labels -->
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Labels</h4>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Porta ac consectetur ac
          <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Vestibulum at eros
          <span class="badge badge-primary badge-pill">11</span>
        </li>
      </ul>
    </div>
    <!-- Labels -->
  </div>

  <hr class="my-5">

  <div class="row">
    <!-- Linked items -->
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Linked items</h4>
      <div class="list-group">
        <a class="list-group-item active waves-light white-text" mdbWavesEffect>
          Cras justo odio
        </a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Dapibus ac facilisis in</a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Morbi leo risus</a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Porta ac consectetur ac</a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Vestibulum at eros</a>
      </div>
    </div>
    <!-- Linked items -->

    <!-- Links and buttons -->
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Links and buttons</h4>
      <div class="list-group">
        <a class="list-group-item active waves-light white-text" mdbWavesEffect>
          Cras justo odio
        </a>
        <a class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Dapibus ac facilisis in</a>
        <a class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Morbi leo risus</a>
        <a class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Porta ac consectetur ac</a>
        <a class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>Vestibulum at eros</a>
      </div>
    </div>
    <!-- Links and buttons -->
  </div>

  <hr class="my-5">

  <div class="row">
    <!-- Disabled item -->
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Disabled item</h4>
      <div class="list-group">
        <a class="list-group-item disabled waves-light" mdbWavesEffect>Cras justo odio</a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Dapibus ac facilisis in</a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Morbi leo risus</a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Porta ac consectetur ac</a>
        <a class="list-group-item waves-light blue-text" mdbWavesEffect>Vestibulum at eros</a>
      </div>
    </div>
    <!-- Disabled item -->

    <!-- Contextual classes -->
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Contextual classes</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
        <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
        <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
        <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
      </ul>
    </div>
    <!-- Contextual classes -->
  </div>

  <hr class="my-5">

  <div class="row mb-5">
    <!-- Custom content -->
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Custom content</h4>
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column active align-items-start white-text">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
      </div>
    </div>
    <!-- Custom content -->
  </div>
</div>