<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Buttons</h2>
    </div>
  </div>

  <!-- Basic Buttons -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic Buttons</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Primary</button>
      <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>Default</button>
      <button mdbBtn type="button" color="secondary" class="waves-light" mdbWavesEffect>Secondary</button>
      <button mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect>Success</button>
      <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect>Info</button>
      <button mdbBtn type="button" color="warning" class="waves-light" mdbWavesEffect>Warning</button>
      <button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect>Danger</button>
    </div>
  </div>
  <!-- Basic Buttons -->

  <hr class="my-5">

  <!-- Additional Buttons -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Additional buttons</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect>Elegant</button>
      <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>Unique</button>
      <button mdbBtn type="button" color="pink" class="waves-light" mdbWavesEffect>Pink</button>
      <button mdbBtn type="button" color="purple" class="waves-light" mdbWavesEffect>Purple</button>
      <button mdbBtn type="button" color="deep-purple" class="waves-light" mdbWavesEffect>Deep-Purple</button>
      <button mdbBtn type="button" color="indigo" class="waves-light" mdbWavesEffect>Indigo</button>
      <button mdbBtn type="button" color="light-blue" class="waves-light" mdbWavesEffect>Light-blue</button>
      <button mdbBtn type="button" color="cyan" class="waves-light" mdbWavesEffect>Cyan</button>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <button mdbBtn type="button" color="dark-green" class="waves-light" mdbWavesEffect>Dark-Green</button>
      <button mdbBtn type="button" color="light-green" class="waves-light" mdbWavesEffect>Light-green</button>
      <button mdbBtn type="button" color="yellow" class="waves-light" mdbWavesEffect>Yellow</button>
      <button mdbBtn type="button" color="amber" class="waves-light" mdbWavesEffect>Amber</button>
      <button mdbBtn type="button" color="deep-orange" class="waves-light" mdbWavesEffect>Deep-Orange</button>
      <button mdbBtn type="button" color="brown" class="waves-light" mdbWavesEffect>Brown</button>
      <button mdbBtn type="button" color="blue-grey" class="waves-light" mdbWavesEffect>Blue-Grey</button>
      <button mdbBtn type="button" color="mdb-color" class="waves-light" mdbWavesEffect>MDB</button>
    </div>
  </div>
  <!-- Additional Buttons -->

  <hr class="my-5">

  <!-- Outline buttons -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Outline buttons</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Primary</button>
      <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Default</button>
      <button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Secondary</button>
      <button mdbBtn type="button" color="success" outline="true" mdbWavesEffect>Success</button>
      <button mdbBtn type="button" color="info" outline="true" mdbWavesEffect>Info</button>
      <button mdbBtn type="button" color="warning" outline="true" mdbWavesEffect>Warning</button>
      <button mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Danger</button>
    </div>
  </div>
  <!-- Outline buttons -->

  <hr class="my-5">

  <!-- Buttons with icons -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Buttons with icons</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <button mdbBtn type="button" color="primary" mdbWavesEffect>
        <mdb-icon icon="magic" class="mr-1"></mdb-icon>Left</button>
      <button mdbBtn type="button" color="default" mdbWavesEffect>Right
        <mdb-icon icon="magic" class="ml-1"></mdb-icon>
      </button>
    </div>
  </div>
  <!-- Buttons with icons -->

  <hr class="my-5">

  <!-- Button tags -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Button tags</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <a mdbBtn href="#" role="button" color="primary" mdbWavesEffect>Link</a>
      <button mdbBtn type="submit" color="primary" mdbWavesEffect>Button</button>
      <div class="waves-input-wrapper waves-light" mdbWavesEffect>
        <input mdbBtn color="primary" type="button" value="Input">
      </div>
      <div class="waves-input-wrapper waves-light" mdbWavesEffect>
        <input mdbBtn color="primary" type="submit" value="Submit">
      </div>
      <div class="waves-input-wrapper waves-light" mdbWavesEffect>
        <input mdbBtn color="primary" type="reset" value="Reset">
      </div>
    </div>
  </div>
  <!-- Button tags -->

  <hr class="my-5">

  <!-- Sizes -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Sizes</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex flex-center flex-wrap">
      <div>
        <button mdbBtn type="button" color="primary" size="lg" mdbWavesEffect>Large Button</button>
        <button mdbBtn type="button" color="primary" size="lg" mdbWavesEffect>Large Button</button>
      </div>
      <div>
        <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect>Small Button</button>
        <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect>Small Button</button>
      </div>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <button mdbBtn type="button" color="default" block="true" mdbWavesEffect>Block Button</button>
      <button mdbBtn type="button" color="light-blue" block="true" mdbWavesEffect>Block Button</button>
    </div>
  </div>
  <!-- Sizes -->

  <hr class="my-5">

  <!-- Pre-selected state -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Pre-selected state</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <button #button mdbBtn type="button" color="primary" autocomplete="off" [(ngModel)]="singleModel" mdbCheckbox btnCheckboxTrue="1"
        btnCheckboxFalse="0" mdbWavesEffect>
        Single toggle
      </button>
    </div>
  </div>
  <!-- Pre-selected state -->

  <hr class="my-5">

  <!-- Checkbox (multiple choice) buttons -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Checkbox (multiple choice) buttons</h4>
    </div>
    <div class="col-md-12 mx-auto d-flex justify-content-center flex-wrap">
      <div class="btn-group">
        <label mdbBtn color="primary" [(ngModel)]="checkModel.left" mdbCheckbox mdbWavesEffect>
          Checkbox 1 (pre-checked)
        </label>
        <label mdbBtn color="primary" [(ngModel)]="checkModel.middle" mdbCheckbox mdbWavesEffect>
          Checkbox 2
        </label>
        <label mdbBtn color="primary" [(ngModel)]="checkModel.right" mdbCheckbox mdbWavesEffect>
          Checkbox 3
        </label>
      </div>
    </div>
  </div>
  <!-- Checkbox (multiple choice) buttons -->

  <hr class="my-5">

  <!-- Radio (single choice) buttons -->
   <div class="row">
      <div class="col-md-6 mx-auto">
        <h4 class="text-center">Radio (single choice) buttons</h4>
      </div>
      <div class="col-md-12 mx-auto d-flex mb-5 justify-content-center flex-wrap">
          <div class="btn-group">
              <label mdbBtn color="primary" [(ngModel)]="radioModel" mdbRadio="Left" mdbWavesEffect>
                  Radio 1 (pre-checked)
              </label>
              <label mdbBtn color="primary" [(ngModel)]="radioModel" mdbRadio="Middle" mdbWavesEffect>
                  Radio 2
              </label>
              <label mdbBtn color="primary" [(ngModel)]="radioModel" mdbRadio="Right" mdbWavesEffect>
                  Radio 3
              </label>
          </div>
      </div>
    </div>
    <!-- Radio (single choice) buttons -->
</div>
